<?xml version="1.0"?>

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Windows"/>
    <customErrors mode="On" defaultRedirect="~/PaginaError/Error.htm" >
      <error statusCode="404" redirect="~/PaginaError/404.htm"/>
      <error statusCode="500" redirect="~/PaginaError/500.htm"/>
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>
